table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  text-align: center;
}

.blocked {
  background-color: grey;
}

body {
  font-family: calibri;
}

.cash::after {
  content: "$";
} 

.money::after {
  content: "$";
}

.player { /*just to highlight the div='player'*/
  background-color: orange;
}
