table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

.cell {
  text-align: center;
}

.blocked {
  background-color: grey;
}

